#common
*.pyc
*.class
*.log
~.~
\#*

#IDE
.idea
*.ipr
*.iws
*.iml
overlays/
.classpath
.project
.settings/
.wtpmodules/
nbproject/
nbactions.xml
nb-configuration.xml

#maven
.flattened-pom.xml
target/
local/
pom.xml.versionsBackup

#projekt
temp/
/xdef/src/userdoc/data/examples/task*/output/
/xdef/src/userdoc/data/examples/task*/errors/
/xdef-web/src/main/resources/org/xdef/web/servlet/webapp/style
/xdef-web/src/main/resources/org/xdef/web/servlet/webapp/style/
