.flattened-pom.xml
.idea
*.ipr
*.iws
*.iml
*.pyc
*.log
#*
~.~
overlays/
target/
nbproject/
local/
temp/
nbactions.xml
.classpath
.project
.settings/
.wtpmodules/
nb-configuration.xml
pom.xml.versionsBackup
/xdef/src/userdoc/data/examples/task*/output/
/xdef/src/userdoc/data/examples/task*/errors/
