body {
    margin-top:         0;
    margin-left:        2cm;
    margin-right:       2cm;
    background-color:   #e6f7ff;
}

h1 {
    text-align:         center;
}

a {
    text-decoration:    none;
}

a:hover {
    text-decoration:    underline;
}

ul {
    margin-top:         0;
}

dl {
    margin-top:         0;
    padding-left:       2em;
}

.output {
    border:             1px solid black;
    background-color:   white;
}

textarea.lined {
    width:              100%;
    display:            block;
}

span.error {
    visibility:         hidden;
}

/* header and footer                        */
/*==========================================*/

div.footer {
    padding-top:        2em;
    text-align:         center;
    font-size:          0.8em;
}

div#header {
    height:             4em;
    position:           sticky;
    top:                0;
    opacity:            0.9;
}

html {
    /* id-link not to be hidden under the sticky-header after jump to it */
    overflow:           auto;
    scroll-padding-top: 5em;
}

div.header {
    height:             100%;
}

div.lang {
    text-align:         right;
    float:              right;
    padding-top:        0.5em;
}

div.lang, div.lang select {
    font-size:          85%;
}

div.logo {
    position:           absolute;;
}

div.logo img {
    height:             4em;
}

div.logo img:hover {
    height:             12em;
}

ul.nav {
    height:             100%;
    margin:             0;
    padding:            0;
    background-image:   linear-gradient(#8bceee, #e6f7ff);
}

ul.nav > li {
    height:             100%;
    display:            inline-block;
    vertical-align:     middle;
    padding-left:       3em;
}

ul.nav > li.logo {
    padding-left:       0;
}
