html {
    /* not to jump to the id-link be hidden under the sticky-header */
    overflow:           auto;
    scroll-padding-top: 5em;
}

body {
    margin-top:         0;
    margin-left:        2cm;
    margin-right:       2cm;
}

h1 {
    text-align:         center;
}

a {
    text-decoration:    none;
}

a:hover {
    text-decoration:    underline;
}

ul {
    margin-top:         0;
}

div#header {
    position:           sticky;
    top:                0;
}

div#footer  {
    padding-top:        2em;
    text-align:         center;
    font-size:          0.8em;
}
