<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
>
    <context-param>
        <param-name>contextDefaultEncoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>

    <servlet>
        <servlet-name>Examples</servlet-name>
        <servlet-class>org.xdef.web.servlet.Example</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenXdef</servlet-name>
        <servlet-class>org.xdef.web.servlet.GenXdef</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenSchema</servlet-name>
        <servlet-class>org.xdef.web.servlet.GenSchema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Derby</servlet-name>
        <servlet-class>org.xdef.web.servlet.Derby</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service</servlet-name>
        <servlet-class>org.xdef.web.servlet.Service</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Examples</servlet-name>
        <url-pattern>/Examples</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenXdef</servlet-name>
        <url-pattern>/GenXdef</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenSchema</servlet-name>
        <url-pattern>/GenSchema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Derby</servlet-name>
        <url-pattern>/Derby</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service</servlet-name>
        <url-pattern>/Service</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
