/.flattened-pom.xml
/.idea
*.ipr
*.iws
*.iml
*.pyc
#*
/overlays/
/target/
/nbproject/
/nbactions.xml
/local/
/.classpath
/.project
/.settings/
/.wtpmodules/
/temp/
/derby.log
/nb-configuration.xml
/testCommon.log
/testUtils.log
/testXdef.log
