/**/
.container {
  max-height: 21rem; display: flex; border-radius: 0.5rem; overflow: hidden;
}
.container__textarea {
  border: none; outline: none; padding: 0.5rem; width: 100%;
}
.container__lines {
  padding: 0.5rem; text-align: right; overflow: hidden;
}
/**/
