<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Suite" verbose="4" group-by-instances="true" parallel="none" thread-count="4">
	<parameter name="fullTestMode" value="false"/>
	
	<test name="Main Test">
		<groups>
			<dependencies>
				<!--
				<group name="xdef"    depends-on="common"/>
				<group name="xdutils" depends-on="xdef"/>
				-->
				<!-- <group name="other"   depends-on="xdutils"/> -->
			</dependencies>
		</groups>
	
		<packages>
			<package name="test.*"/>
			<package name="cz.syntea.xdef.*"/>
		</packages>
	</test>
</suite>
